body{

}

table{
    width: 100%;
    border: 1px solid silver;
    border-collapse: collapse;
}

th{
    text-align: left;
}

tr{
    border: 1px solid silver;
}

tr:nth-child(even){
    background-color: rgb(204, 200, 200);
}